<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Contest</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                    <div class="caption">
                      <img class="img-portfolio img-responsive" src="images/evernotehackathon.png" style="height:180px">
                      <hr class="small">
                      <h4>
                        2012 Evernote Hackathon - A platform for user to sell their notes.
                      </h4>
                      <p>
                      Used Evernote api, PayPal api and Kickstrapter framework to create an “Online Notes-Trading Platform” in 30 hours.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                      <div class="caption">
                      <img class="img-portfolio img-responsive" src="images/yahoohackathon.png">
                      <hr class="small">
                      <h4>
                        2012 Yahoo Open Hack Day - A Photo recommended website.
                      </h4>
                      <p>
                       Combined Flickr api and google api to create a “Photo recommended website”, based on LBS and spatial-temporal data filtering.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                      <div class="caption">
                      <img class="img-portfolio img-responsive" src="images/itsa.png" style="height:133.5px">
                    <hr class="small">
                    <h4>
                      2010 ITSA Programming Contest, Ministry of Education
                    </h4>
                      <p>
                       Got 10th in more than 250 teams.
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                    <div class="caption">
                      <img class="img-portfolio img-responsive" src="images/cty.png" style="height:90px">
                      <hr class="small">
                      <h4>
                        6th Center for Talented Youth, Venture Capital Competition
                      </h4>
                      <p>
                       Champion, project name: “SweetShopping”-- bound Augmented Reality and store information.
                      </p>
                    </div>
                  </div>
              </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
