<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4><strong>Arvin Huang</strong>
            </h4>
            <ul class="list-unstyled">
                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:arvin0731@gmail.com">arvin0731@gmail.com</a>
                </li>
            </ul>
            <br>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/shouhan.huang"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="https://github.com/ArvinH"><i class="fa fa-github fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
                <li>
                  <a href="https://bitbucket.org/ArvinH/"><i class="fa fa-bitbucket fa-fw fa-3x"></i></a>
                </li>
                <li>
                  <a href="http://cv.arvinh.info"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; ArvinH 2015</p>
        </div>
    </div>
</div>
