<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Intern</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                    <div class="caption">
                    <a href="http://www.patisco.com/PC/html/zh-tw/index.html" target="_blank">
                      <img class="img-portfolio img-responsive" src="images/patisco.png" style="height:100px">
                    </a>
                    <hr class="small">
                      <ul>
                        <li>
                            Used Aapche Solr to help Patisco.com build up a full-text search engine.
                        </li>
                        <li>
                            Used WebSocket + Redis + akka to help Patisco.com build a internal Pub/Sub system.
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                      <div class="caption">
                    <a href="http://www.trendmicro.tw/" target="_blank">
                      <img class="img-portfolio img-responsive" src="images/trendmicro.png">
                    </a>
                    <hr class="small">
                      <ul>
                        <li>
                            Emerging Threat Sourcing Evaluation.
                        </li>
                        <li>
                            System Design by using Graph DB (Neo4j).
                        </li>
                        <li>
                            Performance Evaluation.
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                    <div class="caption">
                    <a href="http://www.itseed.tw/" target="_blank">
                      <img class="img-portfolio img-responsive" src="images/itseed.png">
                    </a>
                    <hr class="small">
                      <ul>
                        <li>
                            Project of Spring Party, Head of Advertisement Section. Led group members arranging performances and marketing activities.
                        </li>
                        <li>
                            Project of Closing ceremony, filming group leader.
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="portfolio-item thumbnail">
                      <div class="caption">
                      <img class="img-portfolio img-responsive" src="images/computex.png" style="height:148px">
                      <hr class="small">
                      <ul>
                        <li>
                            2012 Microsoft Computex Tester
                        </li>
                        <li>
                            Setup, tested and maintained the software and hardware that will be used in Computex.
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
