<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>My Projects</h2>
            <hr class="small">
            <ul class="nav nav-tabs" role="tablist" id="projectTab">
              <li role="presentation" class="active" ><a href="#data-vis" aria-controls="data-vis" role="tab" data-toggle="tab">Data Visualization</a>
              </li>
              <li role="presentation"><a href="#java-based" aria-controls="java-based" role="tab" data-toggle="tab">Java based</a></li>
              <li role="presentation"><a href="#small-projects" aria-controls="small-projects" role="tab" data-toggle="tab">Small projects</a></li>
            </ul>
            <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="data-vis">
              <ul class="bxslider">
                <li>
                  <section class="project-item">
                      <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 text-center">
                          <a href="http://visually-lab.herokuapp.com" target="_blank" ><img src="images/visually-lab.png" alt="visually-lab"></a>
                        </div>
                        <div class="col-lg-5 text-center">
                                <div class="project-title">
                                  <h2>Visually Lab</h2>
                                </div>
                                <hr class="large">
                                <div class="project-description">
                                  <blockquote>
                                    <p>
                                    An official website for visually lab which focuses on healthcare data visualization and analysis.
                                    </p>
                                    <p>
                                     Tools: <strong>Semantic-UI, express, nodejs, gulp</strong>
                                    </p>
                                  </blockquote>
                                </div>
                        </div>
                      </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <a href="https://visually-lab.herokuapp.com/worksets/dealthratebar" target="_blank"><img src="images/barmap.png" alt="visually-barmap"></a>
                      </div>
                      <div class="col-lg-5 text-center">
                              <div class="project-title">
                                <h2>Death rate visuallization I</h2>
                              </div>
                              <hr class="large">
                              <div class="project-description">
                                <blockquote>
                                  <p>
                                    Show how different causes of death and different counties can affect the death rate in Taiwan.
                                  </p>
                                  <p>
                                   Tools: <strong>Semantic-UI, D3.js</strong>
                                  </p>
                                </blockquote>
                              </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <a href="https://visually-lab.herokuapp.com/worksets/genderdeathrate"><img src="images/genderdeathrate.png" alt="visually-genderdeathrate"></a>
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>Death rate visuallization II</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              Show how different between male and female in death rates in various causes of death.
                            </p>
                            <p>
                             Tools: <strong>Semantic-UI, D3.js</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="java-based">
              <ul class="bxslider-java">
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/lab-project-Academia.png" alt="Academia-project">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h3>Ministry of Economic Affairs Technology Development Program for Academia</h3>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              <ul>
                                <li>
                                  Webservice api designed and implemented.
                                </li>
                                <li>
                                  Builded up MongoDB, MySQL Cluster and CloudFoundry.
                                </li>
                              </ul>
                            </p>
                            <p>
                             Tools: <strong>JSP, Servlet, MySQL Cluster, MongoDB, CloudFoundry</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/lab-project-medical.png" alt="medical-cloud">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>Medical cloud</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <ul>
                              <li>
                                  Builded and managed hadoop cluster, mysql cluster, openstack and git server.
                              </li>
                              <li>
                                  Data Migration from MySQL to HDFS, using sqoop.
                              </li>
                            </ul>
                            <p>
                             Tools: <strong>Hadoop, sqoop, mysql cluster, git, openstack</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/sodar.png" alt="sodar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>Sodar - social radar</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              A location-based social app on Android can find your friends nearby and do some cool stuff together.
                            </p>
                            <p>
                             Tools: <strong>facebook api, android, mysql, servlet</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/sunshystar.png" alt="sunshystar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>sunshystar - random chat room for NTOU</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              A random chat room for NTOU students; Random select the person you can chatting with.
                            </p>
                            <p>
                             Tools: <strong>Java, swing, mysql, servlet</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="small-projects">
              <ul class="bxslider-small-projects">
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <a href="https://pakdd2014.herokuapp.com/" target="_blank">
                        <img src="images/pakdd2014.png" alt="pakdd">
                        </a>
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>PAKDD 2014 webapp</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              An offical webapp for PAKDD conference 2014.
                              cross-platform from web and android.
                            </p>
                            <p>
                             Tools: <strong>JQuery-mobile, Phonegap, HTML5, CSS3</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>

                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/sitw.png" alt="sodar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>SITW group search site</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              <ul>
                                <li>
                                  Used school's open data to build a site for student searching group information.
                                </li>
                                <li>
                                  Used OSQA to build an QA site called sitw-qa(not available now).
                                </li>
                              </ul>
                            </p>
                            <p>
                             Tools: <strong>NodeJS, AngularJS, OSQA</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>

                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/sunshyboyz.png" alt="sunshyboyz">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>sunshyboyz - internal social website</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              An internal social website for our own department, just copy parts of functions from facebook,
                              but you can press "fuxx" on posts, lol.
                            </p>
                            <p>
                             Tools: <strong>ASP.NET, SQL-server</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>

                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/dictionary.png" alt="sunshystar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>Chrome extensions - yahoo dictionary</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              Tried to build an useful and customize dictionary extension for myself and by myself.
                            </p>
                            <p>
                             Tools: <strong>JavaScript, JQuery-ui</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/aws.png" alt="sodar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>Canvas slide</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              A slide that you can draw anything while you presenting. Builded for introduce AWS when I interned in Patisco.com.
                            </p>
                            <p>
                             Tools: <strong>NodeJS, HTML5 Canvas, reveal.js</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
                <li>
                  <section class="project-item">
                    <div class="row">
                      <div class="col-lg-5 col-lg-offset-1 text-center">
                        <img src="images/blog.png" alt="sunshystar">
                      </div>
                      <div class="col-lg-5 text-center">
                        <div class="project-title">
                          <h2>blog plugin - delicious food around MRT</h2>
                        </div>
                        <hr class="large">
                        <div class="project-description">
                          <blockquote>
                            <p>
                              Used css and javascript to build a MRT route for my friend to use in her blog.
                              (modify from codepen)
                            </p>
                            <p>
                             Tools: <strong>JavaScript, CSS3</strong>
                            </p>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </section>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
