<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>My Thesis</h2>
            <hr class="small">
            <h2>Graph Searching on Malware Activities for Online THREAT Identification</h2>
            <blockquote>
            <em>
              <p>
              We analyzed the query log of anti-virus software from security domain experts’ suspicion,
              found Temporal Concentrative Property (TCP) between query logs and targets (CVEs or malware family, etc),
               and then further identified the Suspect Rising Attack Factor (SRAF).
              </p>
              <p>
               In our experimental results, it showed
                that we can find the k-approximation targets that give us a verification of the original idea.
              </p>
           </em>
            </blockquote>
            <div class="row Research-item">
              <div class="col-lg-5 col-lg-offset-1 text-center">
                <img src="images/malgraph.png" alt="malgraph"></a>
              </div>
              <div class="col-lg-5 text-center">
                <img src="images/malstructure.png" alt="malstructure"></a>
              </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
