<section id="Research-thesis" class="Research-thesis bg-success" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Research</h2>
                <hr class="small">
                <h4>Graph Searching on Malware Activities for Online THREAT Identification</h4>
                <hr class="large">
                <div class="row Research-item">
                  <div class="col-lg-5 col-lg-offset-1 text-center">
                    <a href="http://visually-lab.herokuapp.com" target="_blank" ><img src="images/malgraph.png" alt="malgraph"></a>
                  </div>
                  <div class="col-lg-5 text-center">
                          <div class="project-description">
                            <blockquote>
                            <p>

                            </p>
                            </blockquote>
                          </div>
                  </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
