<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi, I am Arvin">
    <meta name="author" content="Arvin">

    <title>ShuoHan-Huang (@ArvinH)</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/stylish-portfolio.css" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link href="stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Arvin Huang</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Projects</a>
            </li>
            <li>
                <a href="#Research-thesis" onclick = $("#menu-close").click(); >Thesis</a>
            </li>
            <li>
                <a href="#Contest" onclick = $("#menu-close").click(); >Contest</a>
            </li>
            <li>
                <a href="#Intern" onclick = $("#menu-close").click(); >Intern</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center name" itemscope itemtype="http://data-vocabulary.org/Person">
            <h1 itemprop="name">Arvin Huang</h1>
            <img src="images/face-circle.png" alt="me" height="100px">
            <h3 itemprop="title">Web developer &amp; Data engineer</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
            <br><br>
            <a href="http://cv.arvinh.info" class="btn btn-dark btn-md">Check my CV</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Focus on new technology especially web development and data engineering</h2>
                    <hr class="small">
                    <p class="lead">Research in Graph Mining, Spatial-Temporal data, LBSN, Big data process and data mining</p>
                    <p class="lead">Interested in Music, Body building, Movie and Traveling</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- PersonalSkill -->
    <section id="PersonalSkill" class="PersonalSkill bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Personal skill</h2>
                    <hr class="small">
                  <h4>(Familiarity)</h4>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge1" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>Java</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge2" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>Python</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge3" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>Javascript</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge4" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>HTML/CSS</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Research & English Skill -->
    <section id="Research" class="Research bg-info">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Research area & English skill</h2>
                    <hr class="small">
                    <h4>(ratio & score)</h4>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge5" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>Data Engineering</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge6" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>Algorithm</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge7" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>TOEFL</strong>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="skill-item">
                            <svg id="fillgauge8" width="80%" height="250" ></svg>
                                <h4>
                                    <strong>TOEIC</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
      <% include partials/portfolio %>
    </section>

    <!-- Research -->
    <section id="Research-thesis" class="Research-thesis-class bg-info" >
      <% include partials/research %>
    </section>

    <!-- Contest & Intern -->
    <section id="Contest" class="Contest bg-primary">
      <% include partials/contest %>
    </section>

    <section id="Intern" class="Intern bg-info">
      <% include partials/intern %>
    </section>

    <!-- Call to Action -->
    <aside id="contact" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Can find me in these places</h2>
                    <hr class="small">
                    <ul class="list-inline">
                        <li>
                          <a href="http://cv.arvinh.info"><i class="fa fa-dribbble fa-fw fa-5x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/shouhan.huang"><i class="fa fa-facebook-square fa-fw fa-5x"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/ArvinH"><i class="fa fa-github fa-fw fa-5x"></i></a>
                        </li>
                        <li>
                            <a href="https://mozillians.org/zh-TW/u/arvin0731/"><i class="fa fa-firefox fa-fw fa-5x"></i></a>
                        </li>
                        <li>
                          <a href="https://bitbucket.org/ArvinH/"><i class="fa fa-bitbucket fa-fw fa-5x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section class="map">
      <div id="map_canvas_custom_261925" style="width:100%; height:100%" ></div>
    </section>

    <!-- Footer -->
    <footer>
      <% include partials/footer %>
    </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Bxslider js -->
    <script src="javascripts/bxslider/jquery.bxslider.min.js"></script>

    <!-- gen-map.js -->
    <script src="javascripts/gen-map.js"></script>

    <!-- Custom D3.js -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="javascripts/liquidFillGauge.js" language="JavaScript"></script>
    <script src="javascripts/initial_liquid.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="javascripts/main-controller.js"></script>

</body>

</html>
